.botonRegistro{
    width: 100%;
    height: 36px;
    align-self: stretch;
    padding: 8px 10px;
    border-radius: 8px;
    background:#C3B2FB;
    border: none;
    cursor: pointer;
    margin-top: 16px;
    font-size: 16px;
    transition: all 0.3s ease;
 }
 @media(min-width:700px){
    .botonRegistro{
        height: 48px;
    }
}

.botonRegistro:hover {
    transform: scale(1.05); /* Slightly enlarge button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a lifted effect */
    opacity: 0.9; /* Slight transparency for a soft effect */
}