.container {
    background-color: white;
    border-radius: 20px; 
    text-align: center;
}

.dayobj {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 1px 0;
    cursor: pointer;
    border-radius: 50%;
}

.dayobj2 {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: white;
    margin: 1px 0;
    border-radius: 50%;
}

.dayobj:hover {
    background-color: #7258C3;
    color: white;
}

.selectedStart {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50% 0 0 50%;
    margin: 1px 0;
    background-color: #7258C3;
    color: white;   
}

.selectedEnd {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
    margin: 1px 0;
    background-color: #7258C3;
    color: white;   
}

.between {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #C3B2FB;
    color: white;
    margin: 1px 0;
}

.disabledDay {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(164, 164, 164);
    margin: 1px 0;
    border-radius: 50%;
}

.calendars {
    display: flex;
}

.calendarTitle {
    padding-top: 10px;
}

@media (min-width: 360px) and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .calendars {
        flex-direction: column;
    }

    .calendarTitle {
        font-size: 20px;
    }
}