.card img {

    width: 170px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
@media (min-width:700px) {
  .card img{
    width: 250px;
    height: 210px;
  }
  
}
@media (min-width:1024px) {
  .card img{
    width: 350px;
    height: 290px;
  }
  
}
  
  