.container{
  width: 100%;
}


.img {
  border-radius: 8px; 
  background-color: white;
  display: flex;
  width: 161px;
  height: 104px;
  padding: 13px 13px 14px 12px;
  justify-content: center;
  align-items: center;
  margin:auto ;
}
@media(min-width:700px){
  .img{
      width: 426px;
      height: 277px;
      padding: 35px 39px;
  }
}

.contenedorForm{
  width: 80%; 
  height: 640px;
  background-color:  #E9E4F7;
  display: flex;
  padding: 7em 0em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: auto;
}

.formulario{
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin: auto;
}
@media(min-width:700px){
  .formulario{
      width: 420px;
      height: 582px;
      gap: 50px;
  }
}

.registro{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formulario h2{
  color: #231942;
  text-align: center;
  font-family: "Encode Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media(min-width:700px){
  .formulario h2{
      font-size: 32px;
      margin: auto;
  }
}

.cuenta{
  color: var(--Primary-Violet---Dark, #231942);
  text-align: center;
  font-family: "Encode Sans";
  font-size: 12px;
  padding-top: 2em ;
}

.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

@media(min-width:700px){
  .cuenta{
      font-size: 16px;
  }
}
