.container {
  width: 100%;
}

.contenedorForm {
  width: 80%;
  height: 640px;
  background-color: #E9E4F7;
  display: flex;
  padding: 7em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: auto;
}

.formulario {
  display: flex;
  width: 420px;
  height: 582px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: auto;
}

.registro {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formulario h2{
  color: #231942;
  text-align: center;
  font-family: "Encode Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}