:root {
  --dark-purple: #231942;
  --medium-purple: #5E548E;
  --light-purple: #9F86C0;
  --pale-purple: #BE95C4;
  --soft-pink: #E0B1CB;
  --background-pink: #F3EFFF;
}


.detailContainer {
  background-color:white;
  position: relative;
  padding-bottom: 2em;
  margin-top: 100px;
}

.header {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  background-color: var(--dark-purple);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 2;
}

.title {
  font-size: 16px;
  color: white;
  text-align: left;
  margin: 0;
  line-height: 1.2;
}
.back{
  cursor: pointer;
}

.backButton {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  
}
 /* Tamaño del icono */
 
header img {
  width: 12px;
  height: 18px;
}

.backButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.content {
  padding-top: calc(66px + 40px + 20px);
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.productImage {
  border-radius: 25px;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: top;
}

.productInfo {
  max-width: 360px;
  margin-top: 20px;
  text-align: left;
}

.productDetails {
  font-size: 14px;
}

.description {
  font-size: 14px;
  color: #030303;
  margin-bottom: 16px;
  text-align: justify;
}

.price {
  font-size: 14px;
  color: #030303;
  text-align: left;
}

.price span {
  color: #030303;
  font-weight: bold;
}

/* Galería de miniaturas */
.gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0px;
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 15px;
  object-fit: cover;
}

.thumbnail:hover,
.thumbnail:focus {
  border-color: var(--medium-purple);
}

.dateOuterContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px 20px;
  width: 150px;
  align-items: center;
  cursor: pointer;
}

.dateOuterContainer:hover {
  background-color: #E9E4F7;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  color: gray;
}
.botonReserva{
  background-color: #C3B2FB;
  width: 100%;
  padding: 0px 15px;
  border-radius: 12px;
}
.botonReserva:hover {
  background-color: #b5a0f9; /* Slight transparency for a soft effect */
}

.botonReserva.disabled:hover {
  background-color: #cccccc; /* Slight transparency for a soft effect */
}

.disabled {
  background-color: #cccccc;
  width: 100%;
  padding: 0px 15px;
  border-radius: 12px;
}

.separator {
  color: rgb(182, 182, 182);
}


.calendar {
  position: absolute;
  z-index: 100;
  top: 420px;
  right: 100px;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .calendar {
    top: 1010px;
  }
}

@media (min-width: 360px) and (max-width: 500px) {
  .calendar {
    top: 750px;
    right: 30px;
  }
}

.dateSelector {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.dateOuterContainerToggled {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px 20px;
  width: 150px;
  align-items: center;
  cursor: pointer;
  background-color: #E9E4F7;
}

/* Mobile Styles - below 600px */
@media (max-width: 599px) {

  .detailContainer {
    margin-top: 64px;
  }

  .header {
    height: 70px;
  }

  .productImage {
    width: 360px;
    height: 252px;
  }

  .gallery {
    flex-direction: row;
    justify-content: space-between;
    width: 360px; /* Match the width of the main image */
    margin-top: 10px;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }
}

.politicasSection {
  margin-top: 20px;
}

.politicasTitle {
  font-size: 1.1rem;
  /* font-weight: bold; */
  text-decoration: underline; /* Subrayar el título */
  margin-bottom: 15px;
}

/* .politicasContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribuir en columnas 
  gap: 10px;
} */

.politica {
  padding: 5x; 
  list-style: none;
  text-align: justify;
  font-size: 0.9rem;
  /* background-color: white; 
  border: 1px solid #e0e0e0; 
  border-radius: 5px;
   */
}


/* Tablet Styles - below 1024px */
@media (min-width: 600px) and (max-width: 1079px) {

  .detailContainer {
    margin-top: 80px;
  }

  .header {
    top: 0px;
    left: 0;
    right: 0;
    height: 120px;
    padding: 1.8rem;
  }

  .title {
    font-size: 24px;
  }

  header img {
    width: 14px;
    height: 23px;
  }

  .content {
    flex-direction: column; 
    align-items: center;
    padding-top: calc(60px + 142px + 20px);
  }

  .productInfo {
    max-width: 597px;
  }

  .productDetails, .description, .price {
    font-size: 16px;
  }

  .productImage {
    width: 597px;
    height: 442px;
  }

  .gallery {
    flex-direction: row;
    width: 597px; /* Match the width of the main image */
    justify-content: space-between;
    margin-top: 0px;
  }

  .thumbnail {
    width: 112px;
    height: 90px;
  }
}

/* Desktop Styles - 1025px and above */
@media (min-width: 1025px) {
  .header {
    top: 0px;
    left: 0;
    right: 0;
    height: 122px;
    padding: 2rem;
  }

  .title {
    font-size: 28px;
  }

  header img {
    width: 15px;
    height: 24px;
  }

  .content {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    padding-top: calc(60px + 142px + 20px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 500px;
  }

  .productImage {
    order: 2;
    width: 500px;
    height: 500px;
    margin-bottom: 0px;
  }

  .productInfo {
    order: 3;
    max-width: 50%;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 42px;
  }

  .productDetails, .description, .price {
    font-size: 18px;
  }

  .description, .price {
    margin-left: 20px;
  }

  .thumbnail {
    width: 90px;
    height: 85px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding-left: 100px;
  }
}

@media (min-width: 1300px) {
  .content {
    padding-left: 150px;
  }
}

@media (min-width: 1400px) {
  .content {
    padding-left: 250px;
  }
}
.encabezado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14px; 
  border-top: 2px solid #a6a6abab;
  cursor: pointer;
}
@media(min-width:1024px){
  .encabezado{
    padding: 28px 24px;
  }
}
.titleHeader{
  color: #030303;
  text-align: center;
  font-family: "Encode Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media(min-width:700px){
  .titleHeader{
    font-size: 18px;
  }
}
.arrow {
  transition: transform 0.4s ease;
}

.arrow.open {
  transform: rotate(180deg); /* Rota la flecha cuando está abierto */
}
.tabla{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease; /* Animación suave */
}
.tabla.visible {
  max-height: 500px; /* Ajusta según la altura máxima que necesites */
}

.table {
  width: 100%;
}


.table td {
  border-top: 1px solid #e0e0e0;
  padding: 1em 0em;
}
.table td img{
  aspect-ratio: 1 / 1; /* Para imágenes cuadradas */
  width: 20px;
  height: auto;
  margin-right: 1em;
}

.table td:first-child {
  display: flex;
  align-items: center;
  color: #464646;
  font-family: "Noto Sans";
  font-size: 14px;
  padding-right: 2em;
}
@media(min-width: 700px){
  .table td:first-child{
    font-size: 16px;
  }
}
@media(min-width: 1024px){
  .table td:first-child{
    font-size: 18px;
  }
}
.table td:last-child {
  width: 100%;
  text-align: left;
  color: #464646;
  font-family: "Noto Sans";
  font-size: 14px;
}
@media (min-width: 700px) {
  .table td:last-child {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .table td:last-child {
    font-size: 18px;
  }
}