.productListContainer {
    max-width: 3000px; /* Max width for the container */
    margin: 0 auto;
    min-height: 50vh;
    text-align: center;
}

.paginationContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.error {
    text-align: center;
    color: #FF6666;
    font-size: 0.9em;
}
@media (min-width: 600px) and (max-width: 1024px) {
    h3 {
        font-size: 20px;
    }
    .paginationInfo {
        font-size: 18px;
    }
}
@media (min-width: 1025px) {
    h3 {
        font-size: 24px;
    }
    .paginationInfo {
        font-size: 20px;
    }
}

.products {
    display: grid;
    gap: 20px;
    /* Grid layout for responsive rows */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0 20px 20px;
    min-height: calc(100vh - 600px);
}
@media(min-width:1024px){
    .products{
        gap: 40px;
    }
}


@media (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile layout: 2 items per row */
@media (max-width: 767px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

.productCard {
    background-color: white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
    cursor: pointer;
    position: relative;
}
@media(min-width:700px){
    .productCard{
        height: 540px;
    }
}
@media(min-width:1024px){
    .productCard{
        height: 420px;
        display: flex;
        flex-direction: row;
    }
}
.heart{
    position: absolute;
    right: 10px;
    top: 10px;
}


/* Uniform card size */
.productCard {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.productCard:hover {
    transform: scale(1.02); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Soft shadow on hover */
    transition: transform 0.3s ease;
}


.productImage {
    width: 100%; /* Ensure image fits within the card */
    height: 180px; /* Fixed height to make all images the same size */
    object-fit: cover; /* Crop the image to fit if necessary */
    object-position: top;
    border-radius: 14px 14px 0px 0px ; /* Matches the card’s rounded corners */
}
@media(min-width:700px){
    .productImage{
        height: 460px;
    }
}
@media(min-width:1024px){
    .productImage{
        width: 70%;
        height: 420px;
        border-radius: 14px 0px 0px 14px
    }
}

.title {
    font-family: "Noto Sans";
    font-size: 24px; /* Default for mobile */
    font-style: normal;
    font-weight: 800;
    line-height: 59px;
    letter-spacing: -0.264px;
    color: #000;
    text-align: center;
    margin-top: 10%;
}

/* Tablet: min-width 600px */
@media (min-width: 600px) and (max-width: 1024px) {
    .title {
        font-size: 20px;
    }
}


@media (min-width: 1025px) {
    .title {
        font-size: 30px;
        margin-top: 10%;
    }
}

.contenedor{
    padding: 7px 4px 13px 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
@media(min-width:1024px){
    .contenedor{
        padding: 0em 2em;
    }
}


@media(min-width:700px){
    h2{
        font-size: 16px;
    }
}
@media(min-width:1024px){
    h2{
       font-size: 18px;
    }
}

p {
    color: #000;
    font-family: "Encode Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
    text-align: center;
}
@media (min-width: 320px) and (max-width: 600px) {
    .title {
        font-size: 20px;
        margin-top: 20%;
    }
}
@media(min-width:1024px){
    h2{
       font-size: 16px;
    }
}

.noFavorites {
    font-size: 18px;
}
