.container {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }
  
  .logo {
    width: 76px;
    height: 44px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .hamburger {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  
  .menu {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    padding: 10px;
  }
  
  .menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 30px);
  }
  
  .rightSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .navButton {
    width: 100%;
    padding: 15px;
    color: #231942;
    background-color: #ffff;
    border-radius: 0px;
    font-family: 'Encode Sans';
    font-size: 20px;
    text-decoration: underline;
  }
  
  .avatarContainer {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  

  .showMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    top: 90;
    left: 90;
    z-index: 1000;
  }

  .navButton {
    width: 100%;
    padding: 10px;
    color: #231942;
    background-color: #FFFF;
    border-radius: 0px;
    font-family: 'Encode Sans';
    font-size: 20px;
    text-decoration: underline;
}


  
  @media (min-width: 1080px) {
    .avatarContainer {
      margin-right: 40px; /* Mayor espacio para pantallas grandes */
    }
  }
  

@media(min-width: 481px) and (max-width: 1079px) {
   
    
    .navButton {
        display: flex;
        align-items: center;
        padding: 15px;
        color: #231942;
        background-color: transparent;
        font-family: 'Encode Sans';
        font-size: 18px;
        text-decoration: none;
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        gap: 10px;
        transition: background-color 0.3s ease;
    }
    
    .navButton:hover {
        background-color: #F0F0F0;
    }
    
    .navButton i {
        font-size: 20px;
        color:#C3B2FB;
    }
    .links {
        display: none;
    }
    .button, .buttonAdmin {
        display: none;
    }
   
    
   
}
/* Versión muy pequeña */
@media (max-width: 480px) {
    .rightSection {
        width: 100%;
    }

    .navButton {
        width: 100%;
        padding: 10px 0;
        text-decoration: none; 
    }

    .navButton i {
        font-size: 20px;
        color: #C3B2FB;
    }
    .links {
        display: none;
    }
    .button, .buttonAdmin {
        display: none;
    }
    
}



@media(min-width: 1080px) {
    .container {
        height: 100px;
    }

    .logo {
        width: 129px;
        height: 72px;
        margin-right: calc(50vw - 129px - 161px - 40px);
    }

    .links {
        display: flex;
        font-size: 16px;
        gap: 40px;
        margin-right: calc(50vw - 161px - 320px - 90px);
    }

    .buttons {
        display: flex;
        gap: 10px;
    }

    .button, .buttonAdmin {
        width: 180px;
        height: 48px;
        color: black;
        background-color: #C3B2FB;
        border: none;
        border-radius: 8px;
    }
    
    .hamburger {
        display: none;
    }

    .menu {
        display: none;
    }

    .user {
        display: flex;
        gap: 10px;
        left: -20px;
    }

    .buttonAdmin{
      width: 120px;
      padding: 4px;
      font-size: 12px;
    }
}

@media (min-width: 1200px) {
  .buttonAdmin {
    width: 160px;
    font-size: 14px;
  }
}