.productListContainer {
    max-width: 3000px; /* Max width for the container */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productListContainer2 {
    max-width: 3000px; /* Max width for the container */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px; /* Add space between heading and product cards */
}

.paginationInfo {
    font-size: 14px;
    color: var(--medium-purple);
    margin: 0.6rem 0;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
  font-size: 15px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
    margin-bottom: 25px; /* Add space between heading and product cards */
}
@media (min-width: 600px) and (max-width: 1024px) {
    h3 {
        font-size: 20px;
    }
    .paginationInfo {
        font-size: 18px;
    }
}
@media (min-width: 1025px) {
    h3 {
        font-size: 24px;
    }
    .paginationInfo {
        font-size: 20px;
    }
}

.products {
    display: grid;
    gap: 20px;
    /* Grid layout for responsive rows */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0 20px 20px;
    margin-top: 25px;
}
@media(min-width:1024px){
    .products{
        gap: 40px;
    }
}

/* Desktop layout: 3 items per row */
@media (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile layout: 2 items per row */
@media (max-width: 767px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

.productCard {
    background-color: white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
    cursor: pointer;
    position: relative;
}
@media(min-width:700px){
    .productCard{
        height: 540px;
    }
}
@media(min-width:1024px){
    .productCard{
        height: 420px;
        display: flex;
        flex-direction: row;
    }
}


/* Uniform card size */
.productCard {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Hover effect */
.productCard:hover {
    transform: scale(1.02); /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Soft shadow on hover */
    transition: transform 0.3s ease;
}

/* Uniform image size */
.productImage {
    width: 100%; /* Ensure image fits within the card */
    height: 180px; /* Fixed height to make all images the same size */
    object-fit: cover; /* Crop the image to fit if necessary */
    object-position: top;
    border-radius: 14px 14px 0px 0px ; /* Matches the card’s rounded corners */
}
@media(min-width:700px){
    .productImage{
        height: 460px;
    }
}
@media(min-width:1024px){
    .productImage{
        width: 70%;
        height: 420px;
        border-radius: 14px 0px 0px 14px
    }
}

.titulo {
    font-family: "Noto Sans";
    font-size: 24px; /* Default for mobile */
    font-style: normal;
    font-weight: 800;
    line-height: 59px;
    letter-spacing: -0.264px;
    color: #000;
    text-align: center;
}

/* Tablet: min-width 600px */
@media (min-width: 600px) and (max-width: 1024px) {
    .titulo {
        font-size: 36px;
    }
}

/* Desktop: min-width 900px */
@media (min-width: 1025px) {
    .titulo {
        font-size: 40px;
    }
}

.contenedor{
    padding: 7px 4px 13px 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
@media(min-width:1024px){
    .contenedor{
        padding: 0em 2em;
    }
}

h2{
    color: #000;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media(min-width:700px){
    h2{
        font-size: 16px;
    }
}
@media(min-width:1024px){
    h2{
       font-size: 18px;
    }
}

p {
    color: #000;
    font-family: "Encode Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
}
@media(min-width:700px){
    p{
        font-size: 15px;
    }
}
@media(min-width:1024px){
    h2{
       font-size: 16px;
    }
}

.reservations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    max-width: 800px;
}


