.containerProduct{
   overflow: auto;
   height: 700px;
}
.contenedorFormProduct{
    width: 70%; 
    background-color:  #E9E4F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin: auto;
}
.formularioProduct{
    padding: 2em 0em;
}
.title{
  color: #231942;
  text-align: center;
  font-family: "Encode Sans";
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: .8em;
}
.registroProduct .nombre{
    max-width: 100%;
}
.registroProduct .inputMedio{
    max-width: 205px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}
