.noBorder {
    border: 0;
    width: 281px;
    height: 253px;
}

.confirmButton {
    color: white;
    background-color: #C3B2FB;
    border-radius: 5px;
    width: 100px;
    height: 48px;
    outline: none;
}

.container {
    min-height: 120px;
    background-color: #231942;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.inner {
    padding-top: 20px;
    width: 90%;
    position: relative;
}

.search {
    height: 66px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    padding: 8px;
    align-items: center;
}

.input {
    font-size: 22px;
    border: none;
    outline: none;
    width: 328px;
    padding: 16px 12px;
    border-radius: 50px;
    position: relative;
}

.input:hover {
    background-color: #E9E4F7;
}

.suggestionsList {
    border-radius: 10px;
    position: absolute;
    top: 39%;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0px;
    width: 328px;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-color:#C3B2FB white;
    z-index: 2;
}

.suggestion {
padding: 8px 12px;
cursor: pointer;
}

.activeSuggestion, .suggestion:hover {
    background-color: #dbc7f68a;
}
.lens {
    height: 20px;
    width: 20px;
}

.dateOuterContainer {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px 20px;
    width: 150px;
    align-items: center;
    cursor: pointer;
}

.dateOuterContainerToggled {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px 20px;
    width: 150px;
    align-items: center;
    cursor: pointer;
    background-color: #E9E4F7;
}

.dateOuterContainer:hover {
    background-color: #E9E4F7;
}

.dateContainer {
    display: flex;
    flex-direction: column;
}


.date {
    color: gray;
}

.searchButton {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 328px;
    justify-content: center;
    background-color: #C3B2FB;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 50px;
}

.separator {
    color: rgb(182, 182, 182);
}

.calendar {
    position: absolute;
    z-index: 2;
    top: 180px;
    right: -20px;
}

@media(min-width: 550px) and (max-width: 1079px) {
    .container {
        width: 100%;
        height: 180px;
        margin-top: 80px;
    }

    .title {
        font-size: 16px;
    }

    .inner {
        padding-top: 46px;
    }

    .search {
        height: 66px;
        width: 100%;
        margin-top: 22px;
    }

    .input {
        font-size: 12px;
        width: 35%;
    }

    .input:hover {
        background-color: white;
    }
    .suggestionsList {
        top: 100%;
        left:0%;
        width: 37%;
        max-height: 150px;
    }

    .dateOuterContainer {
        width: 20%;
    }

    .dateOuterContainerToggled {
        width: 20%;
    }
    .searchButton {
        width: 20%;
    }
}

@media(min-width: 1080px) {
    .container {
        width: 100% ;
        height: 220px;
        margin-top: 100px;
    }

    .title {
        font-size: 20px;
    }

    .inner {
        padding-top: 57px;
    }

    .search {
        height: 66px;
        width: 100%;
        margin-top: 22px;
    }

    .suggestionsList {
        top: 100%;
        left:0%;
        width: 35%;
        max-height: 200px;
    }

    .input {
        font-size: 14px;
        width: 30%;
    }
    .searchButton {
        width: 20%;
    }
}

@media(min-width: 300px) and (max-width: 550px) {
    .search {
        flex-direction: column;
        gap: 10px;
        height: 250px;
        margin-bottom: 10px;
        background-color: transparent;
    }

    .separator {
        display: none;
    }

    .input {
        font-size: 15px;
    }

    .calendar {
        top: 330px;
        right: 10px;
    }

    .dateOuterContainer {
        background-color: white;
        width: 320px;
    }

    .dateOuterContainerToggled {
        width: 320px;
    }
}