:root {
    --dark-purple: #231942;
    --medium-purple: #5E548E;
    --light-purple: #9F86C0;
    --pale-purple: #BE95C4;
    --soft-pink: #E0B1CB;
    --background-pink: #F3EFFF;
}

.container {
    width: 145px;
    height: 36px;
    background-color: #C3B2FB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    height: 20px;
}

