.contenedor{
    text-align: center;
    background-color: #F3EFFF;
    margin: auto;
    padding: 1em 0em;
    width: 90%;
}
.titulo{
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.154px;
    padding-bottom: 1em;
    text-align: center;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .titulo {
        font-size: 24px;
    }
}

@media(min-width:1025px){
    .titulo{
        font-size: 36px;
    }
}

.listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas en todo momento */
    justify-items: center;

}

.producto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin-bottom: 2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.producto:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media(min-width:700px){
    /* Segunda fila: elimina el espacio y superpone */
.listaProductos > .producto:nth-child(3) {
    position: relative; 
    left: 10%; /* Ajusta la posición horizontal */
}

.listaProductos > .producto:nth-child(4) {
    position: relative; 
    left: 40%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra en el contenedor */
}
}
@media(min-width:840px){
    /* Segunda fila: elimina el espacio y superpone */
.listaProductos > .producto:nth-child(3) {
    position: relative; 
    left: 10%; /* Ajusta la posición horizontal */
}

.listaProductos > .producto:nth-child(4) {
    position: relative; 
    left: 30%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra en el contenedor */
}
}
@media(min-width:930px){
    /* Segunda fila: elimina el espacio y superpone */
.listaProductos > .producto:nth-child(3) {
    position: relative; 
    left: 20%; /* Ajusta la posición horizontal */
}

.listaProductos > .producto:nth-child(4) {
    position: relative; 
    left: 30%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra en el contenedor */
}
}
@media(min-width:1024px){
        /* Segunda fila: elimina el espacio y superpone */
    .listaProductos > .producto:nth-child(3) {
        position: relative; 
        left: 15%; /* Ajusta la posición horizontal */
    }

    .listaProductos > .producto:nth-child(4) {
        position: relative; 
        left: 30%; /* Ajusta la posición horizontal */
        transform: translateX(-50%); /* Centra en el contenedor */
    }
}
@media(min-width:1200px){
    /* Segunda fila: elimina el espacio y superpone */
.listaProductos > .producto:nth-child(3) {
    position: relative; 
    left: 20%; /* Ajusta la posición horizontal */
}

.listaProductos > .producto:nth-child(4) {
    position: relative; 
    left: 20%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra en el contenedor */
}
}
@media(min-width:1400px){
    /* Segunda fila: elimina el espacio y superpone */
.listaProductos > .producto:nth-child(3) {
    position: relative; 
    left: 20%; /* Ajusta la posición horizontal */
}

.listaProductos > .producto:nth-child(4) {
    position: relative; 
    left: 3%; /* Ajusta la posición horizontal */
    transform: translateX(-50%); /* Centra en el contenedor */
}
}

.contenedorEstrellas{
    width: 170px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 20px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    margin-top: -10px;
}
@media (min-width:700px) {
    .contenedorEstrellas{
      width: 250px;
    }
    
}
@media (min-width:1024px) {
    .contenedorEstrellas{
        width: 350px;
    }

}

.relleno{
    color:#FFC107 ;
    font-size: .7em;
}
@media (min-width:700px) {
    .relleno{
        font-size: .8em;
    }
    
}
@media (min-width:1024px) {
    .relleno{
        font-size: 1em;
    }

}


.sinRelleno{
    font-size: .7em;
    color: rgba(128, 128, 128, 0.534);
}
@media (min-width:700px) {
    .sinRelleno{
        font-size: .8em;
    }
    
}
@media (min-width:1024px) {
    .sinRelleno{
        font-size: 1em;
    }

}

.puntuacion{
    font-size: .7em;
}
@media (min-width:700px) {
    .puntuacion{
        font-size: .8em;
    }
    
}
@media (min-width:1024px) {
    .puntuacion{
        font-size: 1em;
    }

}
