.container {
    display: flex;
    gap: 15px;
    position: relative;
}

.arrowMenu {
    position: absolute;
    top: -18px;
    right: 45px;
}

.greeting {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #231942;
    background-color: #F3EFFF;
    border: 1px solid #715EAE;
    border-radius: 50%;
    position: relative;
}

.dropdownContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -50px;
    right: -200px;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 2px solid #715EAE;
    border-radius: 8px;
    padding: 20px;
    width: 235px;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: 120px;
    right: 203px;
}

.option {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.option:hover {
    text-decoration: underline;
}

.button {
    width: 194px;
    height: 36px;
    background-color: #D3CCF5;
    border-radius: 12px;
    font-size: 12px;
}

/* Ocultar el avatar en pantallas pequeñas */
@media (max-width: 768px) {
    .avatar {
        display: none;
    }
    
}